Package: com.galacticdev.kumquat
Name: Kumquat
Version: 1.0~beta1
Architecture: iphoneos-arm
Description: Customize your lockscreen music player on iOS 14.2+
Maintainer: Galactic Dev <devgalactic@gmail.com>
Author: Galactic Dev <devgalactic@gmail.com>
Section: Tweaks
Depends: firmware (>= 14.2), mobilesubstrate (>= 0.9.5000)
Depiction: https://galacticdev.me/depictions/?p=com.galacticdev.kumquat
