<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--Hi, if you're reading this for some reason, you might notice later that this plist looks very unorganized. It's bc I used an app I'm working on to make preference bundles, and it puts the keys in a weird order-->
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Show/Hide Elements</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hideRouteButton</string>
			<key>label</key>
			<string>Hide Route Button</string>
            <key>default</key>
            <false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hideArtwork</string>
			<key>label</key>
			<string>Hide Artwork</string>
            <key>default</key>
            <false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Custom Frames</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomHeaderFrame</string>
			<key>label</key>
			<string>Custom Header Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomHeaderFrame</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>headerX</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>X Value</string>
			<key>placeholder</key>
			<string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerX</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerHeight</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomArtworkFrame</string>
			<key>label</key>
			<string>Custom Artwork Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomArtworkFrame</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>artworkX</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>X Value</string>
			<key>placeholder</key>
			<string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkX</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkHeight</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomPlayerHeight</string>
			<key>label</key>
			<string>Custom Player Height</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomPlayerHeight</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>playerHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>playerHeight</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>hasCustomVolumeBarFrame</string>
            <key>label</key>
            <string>Custom Volume Bar Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomVolumeBarFrame</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>volumeX</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>X Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>volumeX</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>volumeY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>volumeY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>volumeWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>volumeWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>volumeHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>volumeHeight</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>hasCustomScrubberFrame</string>
            <key>label</key>
            <string>Custom Scrub Bar Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomScrubberFrame</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>scrubberX</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>X Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>scrubberX</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>scrubberY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>scrubberY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>scrubberWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>scrubberWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>scrubberHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>scrubberHeight</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>These are the play/pause forward/backward buttons</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>hasCustomTransportFrame</string>
            <key>label</key>
            <string>Custom Transport Buttons Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomTransportFrame</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>transportX</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>X Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>transportX</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>transportY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>transportY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>transportWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>transportWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>transportHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>transportHeight</string>
        </dict>
	</array>
	<key>title</key>
	<string>More Options</string>
</dict>
</plist>
