<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Show/Hide Elements</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hideRouteButton</string>
			<key>label</key>
			<string>Hide Route Button</string>
            <key>default</key>
            <false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hideArtwork</string>
			<key>label</key>
			<string>Hide Artwork</string>
            <key>default</key>
            <false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Custom Frames</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomHeaderFrame</string>
			<key>label</key>
			<string>Custom Header Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomHeaderFrame</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>headerX</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>X Value</string>
			<key>placeholder</key>
			<string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerX</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>headerHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>headerHeight</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomArtworkFrame</string>
			<key>label</key>
			<string>Custom Artwork Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomArtworkFrame</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>artworkX</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>X Value</string>
			<key>placeholder</key>
			<string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkX</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>artworkHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>artworkHeight</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>enabled</key>
			<true/>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>hasCustomPlayerFrame</string>
			<key>label</key>
			<string>Custom Player Frame</string>
            <key>default</key>
            <false/>
            <key>id</key>
            <string>hasCustomPlayerFrame</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.galacticdev.kumquatprefs.changed</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.galacticdev.kumquatprefs</string>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>playerX</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>X Value</string>
			<key>placeholder</key>
			<string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>playerX</string>
		</dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>playerY</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Y Value</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>playerY</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>playerWidth</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Width</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>playerWidth</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.galacticdev.kumquatprefs.changed</string>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>defaults</key>
            <string>com.galacticdev.kumquatprefs</string>
            <key>enabled</key>
            <true/>
            <key>key</key>
            <string>playerHeight</string>
            <key>keyboard</key>
            <string>numbers</string>
            <key>label</key>
            <string>Height</string>
            <key>placeholder</key>
            <string>0</string>
            <key>default</key>
            <real>0</real>
            <key>id</key>
            <string>playerHeight</string>
        </dict>
	</array>
	<key>title</key>
	<string>More Options</string>
</dict>
</plist>
