Package: com.galacticdev.kumquat
Name: Kumquat
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-70+debug
Installed-Size: 172
